extends layout 

block content 
    h1 Product: #{product.category}

    p #[strong #{item}:] #{product.name}

    p #[strong Description:] #{product.description}

    p 
        a(href=product.url+"/delete") Delete #{item}
